body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    height: 500px;
    width: 500px;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.hijo{
    width: 150px;
    height: 150px;
    border: solid;
}
