body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main{
    height: 500px;
    width: 300px;
    border: solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.hijo{
    width: 150px;
    height: 150px;
    border: solid 3px;
}